alabaster==0.7.12
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
cached-property==1.5.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cloudpickle==0.5.3
colorama==0.4.1
coverage==4.5.3
cycler==0.10.0
docutils==0.14
filelock==3.0.12
flatbuffers==1.11
-e git+https://github.com/flow-project/flow.git@e9d970f5e717e8ecc23326c53a4d1cb986d81095#egg=flow
funcsigs==1.0.2
future==0.17.1
gym==0.10.5
idna==2.8
imagesize==1.1.0
importlib-metadata==0.18
imutils==0.5.1
Jinja2==2.10.1
joblib==0.10.3
kiwisolver==1.1.0
lxml==4.2.4
MarkupSafe==1.1.1
matplotlib==3.0.0
more-itertools==7.1.0
nose2==0.8.0
numpy==1.14.0
numpydoc==0.9.1
opencv-python==4.1.0.25
packaging==19.0
path.py==12.0.1
pathlib2==2.3.4
pluggy==0.12.0
py==1.8.0
pyglet==1.3.2
Pygments==2.4.2
pyparsing==2.4.0
PyPrind==2.11.2
pytest==5.0.1
python-dateutil==2.7.3
pytz==2019.1
PyYAML==5.1.1
ray==0.6.1
redis==3.2.1
requests==2.22.0
scipy==1.1.0
six==1.11.0
snowballstemmer==1.9.0
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sumotools==0.3.1
urllib3==1.25.3
wcwidth==0.1.7
zipp==0.5.2
