[train_args]
network = intersection
experiment-buffer = True
experiment-time = 4500000
experiment-log = True
experiment-log-interval = 1000
experiment-save-agent = True
experiment-save-agent-interval = 2500
# experiment-seed: seeds are set using run.config
sumo-render = False
sumo-step = 1
sumo-emission = False
sumo-tls-type = controlled
inflows-switch = False
env-normalize = True 
