[train_args]
network = intersection
experiment-buffer = False
experiment-time = 90000
experiment-log = True
experiment-log-interval = 250
experiment-save-agent = True
experiment-save-agent-interval = 200
# experiment-seed: seeds are set using run.config
sumo-render = False
sumo-step = 1
sumo-emission = False
sumo-tls-type = controlled
inflows-switch = False
env-normalize = True 
