[train_args]
network = intersection
experiment-time = 450000
experiment-log = True
experiment-log-interval = 500
experiment-save-agent = True
experiment-save-agent-interval = 500
# experiment-seed: seeds are set using run.config
sumo-render = False
sumo-step = 1
sumo-emission = False
inflows-switch = False
env-normalize = True 
