[train_args]
network = intersection
experiment-time = 900000
experiment-log = True
experiment-log-interval = 500
experiment-save-agent = False
experiment-save-agent-interval = 500
experiment-seed = 45
sumo-render = False
sumo-step = 1
sumo-emission = False
inflows-switch = False
env-normalize = True 